<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.SmallCategoryMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO small_category (medium_category_id,name,name_all)
        values (#{mediumCategoryId},#{name},#{nameAll})
	</insert>
</mapper>